div{
	color: green;
	opacity: 0.5;
}
p{
	font-family:  roboto, Tahoma, arial;
	font-stretch: condensed;
	text-indent: 20px;
	color: #FF0000;
}
h1{
	font-style: italic;
	text-align: right;
	text-shadow: 2px 2px 5px #FF0000;
}
span{
	font-variant: small-caps;
	font-weight: bolder;
	text-transform: uppercase;

}